@font-face {
  font-family: 'kosen-note';
  src:  url('../fonts/kosen-note.eot?hjqkq');
  src:  url('../fonts/kosen-note.eot?hjqkq#iefix') format('embedded-opentype'),
    url('../fonts/kosen-note.ttf?hjqkq') format('truetype'),
    url('../fonts/kosen-note.woff?hjqkq') format('woff'),
    url('../fonts/kosen-note.svg?hjqkq#kosen-note') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="kosen-note-icon-"], [class*=" kosen-note-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kosen-note' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kosen-note-icon-home:before {
  content: "\e900";
}
.kosen-note-icon-quill:before {
  content: "\e907";
}
.kosen-note-icon-droplet:before {
  content: "\e90b";
}
.kosen-note-icon-image:before {
  content: "\e90d";
}
.kosen-note-icon-book:before {
  content: "\e91f";
}
.kosen-note-icon-file-picture:before {
  content: "\e927";
}
.kosen-note-icon-file-zip:before {
  content: "\e92b";
}
.kosen-note-icon-folder-download:before {
  content: "\e933";
}
.kosen-note-icon-price-tags:before {
  content: "\e936";
}
.kosen-note-icon-envelop:before {
  content: "\e945";
}
.kosen-note-icon-pushpin:before {
  content: "\e946";
}
.kosen-note-icon-compass:before {
  content: "\e949";
}
.kosen-note-icon-printer:before {
  content: "\e954";
}
.kosen-note-icon-undo:before {
  content: "\e965";
}
.kosen-note-icon-redo:before {
  content: "\e966";
}
.kosen-note-icon-bubble:before {
  content: "\e96b";
}
.kosen-note-icon-user-plus:before {
  content: "\e973";
}
.kosen-note-icon-user-minus:before {
  content: "\e974";
}
.kosen-note-icon-quotes-left:before {
  content: "\e977";
}
.kosen-note-icon-quotes-right:before {
  content: "\e978";
}
.kosen-note-icon-search:before {
  content: "\e986";
}
.kosen-note-icon-enlarge:before {
  content: "\e989";
}
.kosen-note-icon-lock:before {
  content: "\e98f";
}
.kosen-note-icon-unlocked:before {
  content: "\e990";
}
.kosen-note-icon-cog:before {
  content: "\e994";
}
.kosen-note-icon-bin:before {
  content: "\e9ac";
}
.kosen-note-icon-list2:before {
  content: "\e9bb";
}
.kosen-note-icon-eye:before {
  content: "\e9ce";
}
.kosen-note-icon-eye-blocked:before {
  content: "\e9d1";
}
.kosen-note-icon-bookmark:before {
  content: "\e9d2";
}
.kosen-note-icon-bookmarks:before {
  content: "\e9d3";
}
.kosen-note-icon-heart:before {
  content: "\e9da";
}
.kosen-note-icon-warning:before {
  content: "\ea07";
}
.kosen-note-icon-notification:before {
  content: "\ea08";
}
.kosen-note-icon-question:before {
  content: "\ea09";
}
.kosen-note-icon-enter:before {
  content: "\ea13";
}
.kosen-note-icon-exit:before {
  content: "\ea14";
}
.kosen-note-icon-play3:before {
  content: "\ea1c";
}
.kosen-note-icon-play:before {
  content: "\ea1d";
}
.kosen-note-icon-circle-down:before {
  content: "\ea43";
}
.kosen-note-icon-font:before {
  content: "\ea5c";
}
.kosen-note-icon-font-size:before {
  content: "\ea61";
}
.kosen-note-icon-bold:before {
  content: "\ea62";
}
.kosen-note-icon-underline:before {
  content: "\ea63";
}
.kosen-note-icon-italic:before {
  content: "\ea64";
}
.kosen-note-icon-strikethrough:before {
  content: "\ea65";
}
.kosen-note-icon-sigma:before {
  content: "\ea67";
}
.kosen-note-icon-superscript:before {
  content: "\ea69";
}
.kosen-note-icon-subscript:before {
  content: "\ea6a";
}
.kosen-note-icon-table2:before {
  content: "\ea71";
}
.kosen-note-icon-section:before {
  content: "\ea76";
}
.kosen-note-icon-paragraph-left:before {
  content: "\ea77";
}
.kosen-note-icon-paragraph-center:before {
  content: "\ea78";
}
.kosen-note-icon-paragraph-right:before {
  content: "\ea79";
}
.kosen-note-icon-indent-increase:before {
  content: "\ea7b";
}
.kosen-note-icon-indent-decrease:before {
  content: "\ea7c";
}
.kosen-note-icon-embed2:before {
  content: "\ea80";
}
